<div class="container">
  <div class="body">
    <div>
      <label for="input">Enter Text:</label>
      <textarea id="input" [(ngModel)]="inputText"></textarea>
    </div>
  
    <button style="height: 50px; background-color: rgb(0, 133, 0);" (click)="processInput()">Process</button>
  
    <div>
      <label for="output">Output:</label>
      <textarea id="output" [value]="outputText" [disabled]="true"></textarea>
    </div>
  </div>
  
  <button style="float: right;" (click)="copyToClipboard()" [disabled]="isObjEmpty(outputObject)">Copy</button> 
  <button style="float: left; background-color: #b55555;" (click)="clearInput()">Clear</button> 
  <div style="clear: both;"></div>
  <hr>
</div>

